/*#fullBody{
	background-color: magenta;
}*/
body {
  background-color: #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  color: #333;
}
#headerTitle{
	text-align: center;
	color: white;
	/*background-color: yellow;*/
	/*padding-left: 600px;*/
	/*margin-left: 400px;*/
}
#quoteContainer{
	/*max-width: 500px;*/
	background-color: #FFF;
	padding: 20px;
	border-radius: 4px;
	/*border: 2px solid black;*/
	position: relative;
	top: 150px;
	/*display: inline-block;*/
}
#headerContainer{
	/*float: left;*/
	/*max-width: 100%;*/
	background-color: yellow;
}
#quote{
	font-size: 22px;
	font-variant: bold;
	/*padding:20px;	*/
	padding-top: 20px;
	padding-left:10px;
	padding-right: 10px;
	padding-bottom: 2px;
	min-height: 180px;
	text-align: center;
	line-height: 36px;
}
#author{
	font-size: 18px;
	font-style: italic;
	text-align:right;
}
.quotationMarks{
	font-size : 24px;
	font-family: lucida calligraphy;
	font-weight: bold;
	font-style: italic;
}
#newQuoteButton{
	float: right;
	display: inline-block;
	color: #FFF;
	font-size: 16px;
	font-variant: bold;
	border-radius: 5px;
	background-color: #333;
}
.socialLinks{
	padding-right: 8px;
	padding-left: 16px;
	float: left;
	display: inline-block;
}